# The purpose of this notebook is to clean the raw csv and geojson files of census tracts in Davidson County and export them to new dataframes. 

This census summary information was downloaded from https://censusreporter.org/data/table/?table=B02001&geo_ids=04000US47,01000US,05000US47037,140|05000US47037&primary_geo_id=05000US47037#

### Import needed packages, load the first file (we will start with the geojson) and inspect.

In [22]:
import pandas as pd
import geopandas as gpd

In [26]:
davidson_tract_geo = gpd.read_file('../data/davidson_race_by_tract/davidson_race_by_tract.geojson')

In [27]:
davidson_tract_geo.head()

,geoid,name,B02001001,"B02001001, Error",B02001002,"B02001002, Error",B02001003,"B02001003, Error",B02001004,"B02001004, Error",...,"B02001006, Error",B02001007,"B02001007, Error",B02001008,"B02001008, Error",B02001009,"B02001009, Error",B02001010,"B02001010, Error",geometry
0,01000US,United States,324697795.0,0.0,235377662.0,54551.0,41234642.0,32548.0,2750143.0,13011.0,...,4711.0,16047369.0,97264.0,10763902.0,107388.0,1625998.0,28610.0,9137904.0,82541.0,"MULTIPOLYGON (((-168.22527 -14.53591, -168.199..."
1,04000US47,Tennessee,6709356.0,0.0,5205132.0,4583.0,1124473.0,3575.0,18189.0,1047.0,...,491.0,92655.0,4252.0,147536.0,3695.0,12138.0,1160.0,135398.0,3482.0,"MULTIPOLYGON (((-82.22206 36.15696, -82.22214 ..."
2,05000US47037,"Davidson County, TN",687488.0,0.0,440299.0,1694.0,186295.0,1403.0,1534.0,404.0,...,140.0,16136.0,1796.0,17947.0,1444.0,1540.0,408.0,16407.0,1432.0,"MULTIPOLYGON (((-86.98361 36.20957, -86.98398 ..."
3,14000US47037010103,"Census Tract 101.03, Davidson, TN",2533.0,191.0,2457.0,201.0,7.0,10.0,8.0,14.0,...,12.0,0.0,12.0,45.0,42.0,0.0,12.0,45.0,42.0,"MULTIPOLYGON (((-86.91752 36.33976, -86.91747 ..."
4,14000US47037010104,"Census Tract 101.04, Davidson, TN",2955.0,279.0,2713.0,268.0,167.0,136.0,16.0,25.0,...,11.0,0.0,12.0,40.0,42.0,22.0,33.0,18.0,24.0,"MULTIPOLYGON (((-86.97440 36.24991, -86.97244 ..."

### I want to pick friendlier names to replace the race codes. Information on which race each code represents can be found here: https://www.socialexplorer.com/data/ACS2016_5yr/metadata/?ds=ACS16_5yr&table=B02001

#### I'll do a .info() on the columns to get a list of all of the column names, then use df.rename to change them.

In [29]:
davidson_tract_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geoid             164 non-null    object
 1   name              164 non-null    object
 2   B02001001         164 non-null    float64
 3   B02001001, Error  164 non-null    float64
 4   B02001002         164 non-null    float64
 5   B02001002, Error  164 non-null    float64
 6   B02001003         164 non-null    float64
 7   B02001003, Error  164 non-null    float64
 8   B02001004         164 non-null    float64
 9   B02001004, Error  164 non-null    float64
 10  B02001005         164 non-null    float64
 11  B02001005, Error  164 non-null    float64
 12  B02001006         164 non-null    float64
 13  B02001006, Error  164 non-null    float64
 14  B02001007         164 non-null    float64
 15  B02001007, Error  164 non-null    float64
 16  B02001008         164 non-null    float64
 17  B02001008, Error  164 non-null    float64
 18  B02001009         164 non-null    float64
 19  B02001009, Error  164 non-null    float64
 20  B02001010         164 non-null    float64
 21  B02001010, Error  164 non-null    float64
 22  geometry          164 non-null    geometry
dtypes: float64(20), geometry(1), object(2)
memory usage: 29.6+ KB

In [30]:
davidson_tract_geo.rename(columns={'B02001001': 'total_pop', 
                                   'B02001001, Error': 'total_pop_MOE', 
                                   'B02001002': 'white_alone', 
                                   'B02001002, Error': 'white_alone_MOE', 
                                   'B02001003': 'black_africanamerican_alone', 
                                   'B02001003, Error': 'black_africanamerican_alone_MOE',
                                  'B02001004': 'nativeamerican_alaskan_alone',
                                   'B02001004, Error': 'nativeamerican_alaskan_alone_MOE',
                                  'B02001005': 'asian_alone',
                                   'B02001005, Error': 'asian_alone_MOE',
                                   'B02001006': 'hawaiian_pacificislander_alone',
                                   'B02001006, Error': 'hawaiian_pacificislander_alone_MOE',
                                   'B02001007': 'other_alone',
                                   'B02001007, Error': 'other_alone_MOE',
                                   'B02001008': 'two_or_more',
                                   'B02001008, Error': 'two_or_more_MOE',
                                   'B02001009': 'two_including_other',
                                   'B02001009, Error': 'two_including_other_MOE',
                                   'B02001010': 'two_excluding_other',
                                   'B02001010, Error': 'two_excluding_other_MOE'
                                  }, inplace=True)

In [32]:
davidson_tract_geo.info() #testing column change

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   geoid                               164 non-null    object
 1   name                                164 non-null    object
 2   total_pop                           164 non-null    float64
 3   total_pop_MOE                       164 non-null    float64
 4   white_alone                         164 non-null    float64
 5   white_alone_MOE                     164 non-null    float64
 6   black_africanamerican_alone         164 non-null    float64
 7   black_africanamerican_alone_MOE     164 non-null    float64
 8   nativeamerican_alaskan_alone        164 non-null    float64
 9   nativeamerican_alaskan_alone_MOE    164 non-null    float64
 10  asian_alone                         164 non-null    float64
 11  asian_alone_MOE                     164 non-null    float64
 12  hawaiian_pacificislander_alone      164 non-null    float64
 13  hawaiian_pacificislander_alone_MOE  164 non-null    float64
 14  other_alone                         164 non-null    float64
 15  other_alone_MOE                     164 non-null    float64
 16  two_or_more                         164 non-null    float64
 17  two_or_more_MOE                     164 non-null    float64
 18  two_including_other                 164 non-null    float64
 19  two_including_other_MOE             164 non-null    float64
 20  two_excluding_other                 164 non-null    float64
 21  two_excluding_other_MOE             164 non-null    float64
 22  geometry                            164 non-null    geometry
dtypes: float64(20), geometry(1), object(2)
memory usage: 29.6+ KB

### Now I'll send this as a clean file to my data folder.

In [35]:
davidson_tract_geo.to_file('../data/davidson_race_by_tract/davidson_race_by_tract_clean.geojson')

# Now I'll do the exact same steps, but with the csv file.

In [36]:
davidson_tracts = pd.read_csv('../data/davidson_race_by_tract/davidson_race_by_tract.csv')

In [37]:
davidson_tracts.head()

,geoid,name,B02001001,"B02001001, Error",B02001002,"B02001002, Error",B02001003,"B02001003, Error",B02001004,"B02001004, Error",...,B02001006,"B02001006, Error",B02001007,"B02001007, Error",B02001008,"B02001008, Error",B02001009,"B02001009, Error",B02001010,"B02001010, Error"
0,01000US,United States,324697795,0,235377662,54551,41234642,32548,2750143,13011,...,599868,4711,16047369,97264,10763902,107388,1625998,28610,9137904,82541
1,04000US47,Tennessee,6709356,0,5205132,4583,1124473,3575,18189,1047,...,3771,491,92655,4252,147536,3695,12138,1160,135398,3482
2,05000US47037,"Davidson County, TN",687488,0,440299,1694,186295,1403,1534,404,...,412,140,16136,1796,17947,1444,1540,408,16407,1432
3,14000US47037010103,"Census Tract 101.03, Davidson, TN",2533,191,2457,201,7,10,8,14,...,0,12,0,12,45,42,0,12,45,42
4,14000US47037010104,"Census Tract 101.04, Davidson, TN",2955,279,2713,268,167,136,16,25,...,3,11,0,12,40,42,22,33,18,24

### Because I know the columns are the same (except for the geometry column), I'll skip the .info and copy the new column names from my code above.

In [38]:
davidson_tracts.rename(columns={'B02001001': 'total_pop', 
                                   'B02001001, Error': 'total_pop_MOE', 
                                   'B02001002': 'white_alone', 
                                   'B02001002, Error': 'white_alone_MOE', 
                                   'B02001003': 'black_africanamerican_alone', 
                                   'B02001003, Error': 'black_africanamerican_alone_MOE',
                                  'B02001004': 'nativeamerican_alaskan_alone',
                                   'B02001004, Error': 'nativeamerican_alaskan_alone_MOE',
                                  'B02001005': 'asian_alone',
                                   'B02001005, Error': 'asian_alone_MOE',
                                   'B02001006': 'hawaiian_pacificislander_alone',
                                   'B02001006, Error': 'hawaiian_pacificislander_alone_MOE',
                                   'B02001007': 'other_alone',
                                   'B02001007, Error': 'other_alone_MOE',
                                   'B02001008': 'two_or_more',
                                   'B02001008, Error': 'two_or_more_MOE',
                                   'B02001009': 'two_including_other',
                                   'B02001009, Error': 'two_including_other_MOE',
                                   'B02001010': 'two_excluding_other',
                                   'B02001010, Error': 'two_excluding_other_MOE'
                                  }, inplace=True)

In [39]:
davidson_tracts.info() #checking to make sure it's all groovy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 22 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   geoid                               164 non-null    object
 1   name                                164 non-null    object
 2   total_pop                           164 non-null    int64
 3   total_pop_MOE                       164 non-null    int64
 4   white_alone                         164 non-null    int64
 5   white_alone_MOE                     164 non-null    int64
 6   black_africanamerican_alone         164 non-null    int64
 7   black_africanamerican_alone_MOE     164 non-null    int64
 8   nativeamerican_alaskan_alone        164 non-null    int64
 9   nativeamerican_alaskan_alone_MOE    164 non-null    int64
 10  asian_alone                         164 non-null    int64
 11  asian_alone_MOE                     164 non-null    int64
 12  hawaiian_pacificislander_alone      164 non-null    int64
 13  hawaiian_pacificislander_alone_MOE  164 non-null    int64
 14  other_alone                         164 non-null    int64
 15  other_alone_MOE                     164 non-null    int64
 16  two_or_more                         164 non-null    int64
 17  two_or_more_MOE                     164 non-null    int64
 18  two_including_other                 164 non-null    int64
 19  two_including_other_MOE             164 non-null    int64
 20  two_excluding_other                 164 non-null    int64
 21  two_excluding_other_MOE             164 non-null    int64
dtypes: int64(20), object(2)
memory usage: 28.3+ KB

### Now exporting this to a clean csv

In [42]:
davidson_tracts.to_csv('../data/davidson_race_by_tract/davidson_race_by_tract_clean.csv')